<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="Northwind" providerName="System.Data.SqlClient" 
         connectionString="Server=localhost;Database=Northwind;Integrated Security=true" />
        <!--<add name="Northwind" providerName="MySql.Data.MySqlClient"
              connectionString="Server=localhost;Database=northwinddb;Uid=springqa;Pwd=springqa;Convert Zero Datetime=true;Allow Zero Datetime=false" />-->
    </connectionStrings>
</configuration>
